; KeeperFX Creature Kind Configuration file version 1.0.

[attributes]
Name = SKELETON
NameTextID = 266
Health = 500
HealRequirement = 150
HealThreshold = 200
Strength = 55
Armour = 20
Dexterity = 70
FearWounded = 0
FearStronger = 0
FearsomeFactor = 0
Defence = 75
Luck = 2
Recovery = 5
HungerRate = 0
HungerFill = 0
LairSize = 1
HurtByLava = 20
BaseSpeed = 64
GoldHold = 500
; Creature clipbox size - XY and Z.
Size = 200 512
AttackPreference = MELEE
Pay = 70
SlapsToKill = 20
DamageToBoulder = 20
; Creature thing size - XY and Z, one cube is 256x256.
ThingSize = 256 512
LairObject = 
Properties = IMMUNE_TO_GAS HUMANOID_SKELETON EVIL NEVER_CHICKENS

[experience]
Powers = SWING_WEAPON_SWORD NULL NULL NULL ARMOUR NULL NULL NULL NULL NULL
PowersLevelRequired = 1 0 0 0 5 0 0 0 0 0
LevelsTrainValues = 1000 3500 5000 6500 8500 10500 13000 16000 20000
GrowUp = 0 NULL 0
SleepExperience = HARD 0
ExperienceForHitting = 10

[annoyance]
LairEnemy=NULL