
[common]
; Creatures used - note that the order is important
Creatures = WIZARD BARBARIAN ARCHER MONK DWARFA KNIGHT AVATAR TUNNELLER WITCH GIANT FAIRY THIEF SAMURAI HORNY SKELETON TROLL DRAGON DEMONSPAWN FLY DARK_MISTRESS SORCEROR BILE_DEMON IMP BUG VAMPIRE SPIDER HELL_HOUND GHOST TENTACLE ORC FLOATING_SPIRIT TIME_MAGE DRUID GOBLIN GEMSTONE_KNIGHT SALAMANDER DARK_ELF FIREFLY ANGEL SUMMONED_SKELETON BLACK_KNIGHT MAIDEN FAKELORD EVILLORD SORCERORBONUS DWARFABONUS ARCHERBONUS

[instance11]
Time = 10
ActionTime = 6
ResetTime = 400
FPTime = 5
FPActionTime = 3
FPResetTime = 250
FPInstantCast = 0
ForceVisibility = 10
TooltipTextID = 1066
SymbolSprites = 786
Graphics = CASTSPELL
RangeMin = MIN
RangeMax = 5120
PrimaryTarget = 6
Properties = RANGED_BUFF SELF_BUFF NEEDS_TARGET
Function = creature_cast_spell SPELL_HEAL 0
ValidateSourceFunc = validate_source_even_in_prison 0 0
ValidateTargetFunc = validate_target_benefits_from_healing 0 0
SearchTargetsFunc = search_target_ranged_heal 0 0

[instance49]
Name = SUMMON_CREATURE
Time = 6
ActionTime = 5
ResetTime = 15
FPTime = 6
FPActionTime = 5
FPResetTime = 1000
FPInstantCast = 1
ForceVisibility = 10
TooltipTextID = 829
SymbolSprites = SUMMON_CREATURE_SPRITE
Graphics = ATTACK
Properties = SELF_BUFF
PrimaryTarget = 3
Function = creature_cast_spell SUMMON_CREATURE 0

[instance1000]
Name = HOLY_CROSS
Time = 10
ActionTime = 6
ResetTime = 25
FPTime = 4
FPActionTime = 2
FPResetTime = 10
FPInstantCast = 0
ForceVisibility = 150
TooltipTextID = 807
SymbolSprites = HOLY_CROSS
Graphics = ATTACK
RangeMin = 180
RangeMax = MAX
PrimaryTarget = 3
PostalPriority = 18
Properties = DESTRUCTIVE RANGED_ATTACK
Function = creature_fire_shot SHOT_HOLY_CROSS 0

[instance1001]
Name = MOV_SKELE
Time = 20
ActionTime = 8
ResetTime = 140
FPTime = 30
FPActionTime = 6
FPResetTime = 100
FPInstantCast = 0
ForceVisibility = 150
TooltipTextID = 808
SymbolSprites = MOV_SKELE_ICONS
Graphics = ATTACK
RangeMin = 180
RangeMax = MAX
PrimaryTarget = 3
Properties = RANGED_ATTACK
Function = creature_fire_shot SHOT_MOV_SKELE 0

[instance1002]
Name = SWING_HOLY_FIST
Time = 8
ActionTime = 4
ResetTime = 8
FPTime = 5
FPActionTime = 2
FPResetTime = 4
FPInstantCast = 0
ForceVisibility = 100
TooltipTextID = 252
SymbolSprites = 400
Graphics = ATTACK
RangeMin = MIN
RangeMax = 284
PrimaryTarget = 3
Properties = DESTRUCTIVE MELEE_ATTACK DISPLAY_SWIPE
Function = creature_fire_shot SHOT_HOLY 0

[instance1003]
Name = STICKY_WEB
Time = 10
ActionTime = 6
ResetTime = 150
FPTime = 5
FPActionTime = 3
FPResetTime = 100
FPInstantCast = 0
ForceVisibility = 10
TooltipTextID = 811
SymbolSprites = SPIT_ICONS
Graphics = ATTACK
RangeMin = 312
RangeMax = 5120
PrimaryTarget = 3
Properties = RANGED_DEBUFF RANGED_ATTACK
Function = creature_fire_shot SHOT_SPIT 0

[instance1004]
Name = POISON_SPRAY
Time = 10
ActionTime = 6
ResetTime = 1280
FPTime = 5
FPActionTime = 3
FPResetTime = 240
FPInstantCast = 0
ForceVisibility = 100
TooltipTextID = 812
SymbolSprites = MAIDEN_ICONS
Graphics = ATTACK
RangeMin = MIN
RangeMax = 5120
PrimaryTarget = 3
Properties = RANGED_DEBUFF RANGED_ATTACK
Function = creature_fire_shot SHOT_POISON_SPRAY 0

[instance1005]
Name = SWING_WEAPON_LORD
Time = 8
ActionTime = 4
ResetTime = 8
FPTime = 5
FPActionTime = 2
FPResetTime = 4
FPInstantCast = 0
ForceVisibility = 100
TooltipTextID = 252
SymbolSprites = 450
Graphics = ATTACK
RangeMin = MIN
RangeMax = 284
PrimaryTarget = 3
Properties = DESTRUCTIVE MELEE_ATTACK DISPLAY_SWIPE
Function = creature_fire_shot SHOT_SWING_LORD 0

[instance1006]
Name = FIRE_BOMB_BONUS
Time = 10
ActionTime = 6
ResetTime = 100
FPTime = 3
FPActionTime = 2
FPResetTime = 5
FPInstantCast = 0
ForceVisibility = 150
TooltipTextID = 250
SymbolSprites = 404
Graphics = RANGEDATTACK
RangeMin = 768
RangeMax = MAX
PrimaryTarget = 3
Properties = DANGEROUS DESTRUCTIVE RANGED_ATTACK REPEAT_TRIGGER
Function = creature_fire_shot SHOT_FIREBOMB_BONUS 0

[instance1007]
Name = FIRE_BOMB_BONUS_OVERKILL
Time = 100
ActionTime = 60
ResetTime = 1000
FPTime = 25
FPActionTime = 15
FPResetTime = 150
FPInstantCast = 0
ForceVisibility = 150
TooltipTextID = 250
SymbolSprites = METEOR_ICONS
Graphics = RANGEDATTACK
RangeMin = 768
RangeMax = MAX
PrimaryTarget = 3
Properties = DANGEROUS DESTRUCTIVE RANGED_ATTACK REPEAT_TRIGGER
Function = creature_fire_shot SHOT_FIREBOMB_BONUS_OVERKILL 0

[instance1008]
Name = FIREBALL_BONUS
Time = 4
ActionTime = 3
ResetTime = 5
FPTime = 4
FPActionTime = 3
FPResetTime = 15
FPInstantCast = 0
ForceVisibility = 150
TooltipTextID = 251
SymbolSprites = 402
Graphics = RANGEDATTACK
RangeMin = 156
RangeMax = MAX
PrimaryTarget = 3
PostalPriority = 18
Properties = DESTRUCTIVE RANGED_ATTACK REPEAT_TRIGGER
Function = creature_fire_shot SHOT_FIREBALL_BONUS 0

[instance1009]
Name = FIREBALL_BONUS_SPREAD
Time = 3
ActionTime = 2
ResetTime = 500
FPTime = 2
FPActionTime = 2
FPResetTime = 4
FPInstantCast = 0
ForceVisibility = 150
TooltipTextID = 251
SymbolSprites = 402
Graphics = RANGEDATTACK
RangeMin = 156
RangeMax = MAX
PrimaryTarget = 3
PostalPriority = 18
Properties = DESTRUCTIVE RANGED_ATTACK REPEAT_TRIGGER
Function = creature_fire_shot SHOT_FIREBALL_BONUS_SPREAD 0

[instance1010]
Name = FIREBALL_BONUS_WoP
Time = 30
ActionTime = 20
ResetTime = 2000
FPTime = 3
FPActionTime = 2
FPResetTime = 1000
FPInstantCast = 0
ForceVisibility = 150
TooltipTextID = 251
SymbolSprites = 402
Graphics = RANGEDATTACK
RangeMin = 156
RangeMax = MAX
PrimaryTarget = 3
PostalPriority = 18
Properties = DESTRUCTIVE RANGED_ATTACK REPEAT_TRIGGER
Function = creature_fire_shot SHOT_FIREBALL_BONUS_WoP 0

[instance1011]
Name = FIRE_ARROW_SPREAD
Time = 10
ActionTime = 5
ResetTime = 16
FPTime = 5
FPActionTime = 2
FPResetTime = 8
FPInstantCast = 0
ForceVisibility = 100
TooltipTextID = 226
SymbolSprites = 454
Graphics = RANGEDATTACK
RangeMin = 156
RangeMax = MAX
PrimaryTarget = 3
PostalPriority = 16
Properties = DESTRUCTIVE RANGED_ATTACK
Function = creature_fire_shot SHOT_ARROW_SPREAD 0

; This example is for possession only but can be set to be cast under specific conditions using 'ValidateSourceFunc', 'ValidateTargetFunc', and 'SELF_BUFF'.
[instance1012]
Name = TRANSFORM
Time = 10
ActionTime = 10
ResetTime = 1200
FPTime = 3
FPActionTime = 3
FPResetTime = 1200
FPInstantCast = 0
ForceVisibility = 100
TooltipTextID = 201
SymbolSprites = 434
Graphics = SCREAM
PrimaryTarget = 3
Properties =
Function = creature_cast_spell SPELL_TRANSFORM 0
